<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="${request.contextPath}/statics/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TooneCode</title>

  <script type="module" crossorigin src="${request.contextPath}/statics/index.js?v=100"></script>
  <link rel="stylesheet" crossorigin href="${request.contextPath}/statics/index.css?v=100">
</head>

<body class="overflow-hidden">
  <div id="app" class="app-start"></div>

</body>

</html>