<!DOCTYPE html>
<!--
by https://zhengkai.blog.csdn.net
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JAVA代码生成平台</title>
  <#include "/header.html">
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

  <!-- 导航栏 -->

  <!-- /.navbar -->

  <!-- Content Wrapper. 包含页面内容 -->
  <div class="content-wrapper">


    <!-- 主体内容 -->
    <div class="content">
      <div class="container">
        <div class="row">

          <!-- /.col-md-6 -->
          <div class="col-lg-12">

            

            <!-- <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">输入SQL</h5>
              </div>
              <div class="card-body">
                <textarea id="inputArea" placeholder="请输入表结构信息..." style="height: 250px;line-height : 10px;" v-model="formData.tableSql"></textarea>

              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">生成设置</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">特殊标题处理</h6>

                <p class="card-text">支持引入其他额外内容。</p>

              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">输出代码</h5>
              </div>
              <div class="card-body">
                <textarea id="outputArea" placeholder="请输入表结构信息..." style="height: 250px;" v-model="outputStr"></textarea>

              </div>
            </div> -->
            <#include "/main-v2.html">
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- 控制侧边栏内容在这里 -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


</body>
</html>
